.env
node_modules/
bun.lock
.DS_Store
*.log
# VSCode
.vscode/
# Mac system files
.DS_Store
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
#hide google api
mentra-next-spot/src/.env
#mentra-next-spot/src/map.py